@font-face {
    font-family: 'cmu_typewriter_textregular';
    src: url('font/cmuntt-webfont.eot');
    src: url('font/cmuntt-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmuntt-webfont.woff2') format('woff2'),
         url('font/cmuntt-webfont.woff') format('woff'),
         url('font/cmuntt-webfont.ttf') format('truetype'),
         url('font/cmuntt-webfont.svg#cmu_typewriter_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmu_typewriter_textbold';
    src: url('font/cmuntb-webfont.eot');
    src: url('font/cmuntb-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmuntb-webfont.woff2') format('woff2'),
         url('font/cmuntb-webfont.woff') format('woff'),
         url('font/cmuntb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cmu_serifbold';
    src: url('font/cmunbx-webfont.eot');
    src: url('font/cmunbx-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmunbx-webfont.woff2') format('woff2'),
         url('font/cmunbx-webfont.woff') format('woff'),
         url('font/cmunbx-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cmu_serifroman';
    src: url('font/cmunrm-webfont.eot');
    src: url('font/cmunrm-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmunrm-webfont.woff2') format('woff2'),
         url('font/cmunrm-webfont.woff') format('woff'),
         url('font/cmunrm-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: rgba(20, 20, 45, 1);
	font-family: helvetica;
	font-size: 30px;
}
.title {
    font-size: 30px;
}
.subtitle {
    font-size: 18px;
    text-wrap:normal;
}
.infos text{
	fill:rgba(210, 210, 255, 1);
}
.country_name > text {
	font-size: 15px:
}

/*.time.axis {
    fill: rgba(255, 255, 255, 1);
      stroke-width: .5px;
  stroke-dasharray: 2px;
    font-size: 9px;
}*/

.time.axis path,.time.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    cursor: crosshair;
}
.time.axis text {
    fill: rgba(255, 255, 255, 1);
    font-size: 6px;
    display: none;
}
.tick.major line {
    stroke-width:8px;
    cursor: crosshair;
    stroke:white;
}

.chart text {

    fill:white;
}

.countries {
	fill: rgba(20, 50, 84, .5);
    stroke-width:1px;
	stroke: rgba(40, 70, 104, 1);
}

.citycircle, .legendcircle {
    fill: rgba(255, 255, 255, .3);
	stroke: rgba(210, 210, 255, 1);
	cursor: crosshair;
    stroke-width:.5px;
}

.cityrectSup1500,.cityrectMinus1500,.cityrectMinus1000,.cityrectBC {
    fill: rgba(255, 255, 255, 1);
}

/*axis path {
	fill:none;
	stroke:rgba(0, 30, 64, 1);
}
.axis {
	font-size:8pt;
}
*/